:root {
  /* colors */
  /* https://colorhunt.co/palette/fcef91fb9e3ae6521fea2f14 */
  /* tomato color platte ^^ */
  --deep-purple: #170B3B;
  --light-purple: #9388A2;
  --purple: #341948;
  --yellow: #FCEF91;
  --orange: #FB9E3A;
  --deeporange: #E6521F;
  --tomato: #EA2F14;
  --tomato: #D2544E;
  --peach: #FFC7A7;
  --pink: #F08787;
  --pink2: #FF6363;
  --nude: #FEE2AD;
  --green: #6BB48C;
  --light-font-break: #EFF5D2;
  --white-greenish: #DBFFCB;

  /* shadows */
  --tomato-shadow: 1px 1px 2px rgba(210, 84, 78, 0.5);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  flex-direction: column;
  margin-top: 53px;
  width: 100%;

  font-family: "Rubik", sans-serif;
  background-color: var(--peach);
}
/* body.dark {
  background-color: var(--purple);
  color: white;
}
body.light {
  color: var(--font);
} */
button {
  display: inline-flex;
  align-items: center; 
  justify-content: center;

  font-size: 1rem;
  font-weight: 800;
  color: var(--peach);
  border: none;
  border-radius: 10px;
  box-shadow: 1px 1px 1px rgba(210, 84, 78, 0.5);
  background-color: white;
  cursor: pointer;
}
input {
  padding-left: 8px;
  height: 45px;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  text-indent: 2px;
}
span[contenteditable='true'] {
  display: inline-block;
  height: 28px;
  line-height: 28px;
  white-space: nowrap; /* keep on one line */
}
*::before {
  content: '';
  display: inline-block;
  background-size: contain;
  background-repeat: no-repeat;
}
.hidden {
  visibility: hidden;
}

.side-menu {
  position: fixed;
  top: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--nude);
  z-index: 1000;
  opacity: 0;
  transform: translateX(100vw);
  transition: 
    right 0.3s ease-in-out,
    opacity 0.4s ease-in-out;
}
.side-menu-btn {
  position: fixed;
  top: 4px;
  right: 8px;
  width: 45px;
  height: 45px;
  /* transform: translate(-50%, 10px); */
}
.side-menu-btn::before {
  width: 25px;
  height: 25px;
  background-image: url('./lib/menu.png');
}

.active {
  opacity: 1;
  right: 100%;
}

/* .switchWrapper {
  margin: 10px;
  padding: 0;
  position: absolute;
  top: 0;
  right: 0;

  height: 25px;
  width: 50px;
  border-radius: 30px;
  border: 1px solid gray;
  cursor: pointer;
}
.switchWrapper.dark {
  background-color: var(--peach);
}
.switchWrapper.light {
  background-color: var(--tomato);
}
.switchWrapper .slider {
  position: absolute;
  top: -4px; left: 0;
  width: 29px;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  border: 2px solid gray;
  background-color: #fff;
  transition: all 0.2s ease-in-out;
} */
.nightMode {
  transform: translateX(25px);
}
.dayMode {
  transform: translateX(-25px);
}
.mainArea {
  display: flex;
  flex-direction: column;
  column-gap: 5rem;
  row-gap: 3rem;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 20px auto;
}

.timerWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.quoteContainer {
  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 1.3rem;
}
.quote {
  margin: 15px;
  margin-right: 50px;
  font-weight: 550;
  cursor: pointer;
}
.author {
  font-size: 1rem;
  /* max-width: 100%; */
}

.total-productive-time-wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  height: 53px;
  z-index: 1000;

  box-shadow: 1px 1px 1px rgba(210, 84, 78, 0.5);
  background-color: var(--pink);
  font-size: 1.1rem;
}

.total-productive-time-wrapper .logoContainer {
  display: flex;
  align-items: center;
  margin: 5px;
}

.total-productive-time-wrapper .logoContainer img {
  margin: 0 10px;
  width: 43px;
  height: 43px;
}

.total-productive-time-wrapper .logoContainer span {
  font-weight: 600;
  font-size: 1.2rem;
  color: white;
}

.guide {
  display: flex;
  margin-bottom: 20px;
  justify-content: center;
  /* max-width: 100%; */

  font-size: 1.4rem;
}

.timer-toggle-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 0 12px;
  padding: 4px 8px;

  border-radius: 10px;
  color: white;
  background-color: rgba(210, 84, 78, 0.2);
  font-weight: 450;
  text-shadow: var(--tomato-shadow);
}

.timer-toggle-container .working {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.timer-toggle-container .relaxing {
  display: none;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 15px 0;
}

.timer-toggle-container span {
  font-size: 1.2rem;
}

.timer-toggle-container .switch-timer-btn {
  margin: 5px 0;
  margin-left: 15px;
  padding: 10px;
  width: auto;
}

.timer-toggle-container input {
  margin: 0 5px;
  padding: 0;
  padding-left: 4px;
  height: 30px;
  width: 30px;

  /* text-align: center; */
  color: var(--tomato);
}

.to-do-list-container {
  margin: 0 12px;
  padding: 10px 15px;
  width: 320px;

  border: 2px dashed var(--tomato);
  border-radius: 10px;
  color: white;
  text-shadow: var(--tomato-shadow);
}
.to-do-list-container > h2 {
  display: block;
  margin: 0 auto;
  text-align: center;
  font-weight: 750;
}
.to-do-list {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 10px 0;

  list-style: none;
}
.to-do-list li {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  margin: 8px 0;
  margin-left: 2rem;
  /* margin-bottom: 10px; */
  /* margin-right: 5rem; */
  /* padding-left: 2rem; */
  min-height: 44px;
  width: 91%;

  font-weight: 550;
  font-size: 1.1rem;
}

.to-do-list span {
  margin-left: 8px;
  padding-right: 100px;

  word-wrap: break-word;
  overflow-wrap: break-word;
  user-select: none; /* prevents text selection */
}
.to-do-list span::before {
  content: ' ';
  position: absolute;
  top: 50%;
  left: -2rem;
  width: 1.8rem;
  height: 1.8rem;

  transform: translateY(-50%);
  background-image: url(./lib/checkbox-uncheck.png);
}
.to-do-list span.checked {
  text-decoration: line-through;
}
.to-do-list span.checked::before {
  background-image: url(./lib/checkbox-check.png);
}

.todolist-btncontainer {
  display: flex;
  column-gap: 8px;
  margin-left: 8px;
  position: absolute;
  top: 50%;
  right: 0;
  
  transform: translateY(-50%);
}
.todolist-btncontainer button {
  width: 44px;
  height: 44px;
}
.todolist-btncontainer .editBtn::before {
  display: block;
  width: 27px;
  height: 27px;
  background-image: url('./lib/pen.png');
}
.todolist-btncontainer .deleteBtn::before {
  display: block;
  width: 27px;
  height: 27px;
  background-image: url('./lib/bin.png');
}
.to-do-enter-field {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 10px;
}
.to-do-enter-field input{
  min-width: 75%;
}
.to-do-enter-field button {
  margin-left: 10px;
  height: 45px;
  width: 25%;
}

.workTimer,
.relaxTimer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* margin: 20px; */
  padding: 30px;
  width: 270px;

  font-size: 4.5rem;
  border-radius: 10px;
  box-shadow: 1px 1px 2px rgba(210, 84, 78, 0.3);

  /* transition: all 0.2s ease-in-out; */
}
.workTimer {
  background-color: var(--pink);
  color: white;
}
.relaxTimer {
  background-color: var(--green);
  color: white;
}



.countdown {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-bottom: 50px;
  transition: none;
}
/* .countdown::before {
  content: '';
  position: absolute;
  top: 150%;
  left: 100%;
  width: 35px;
  height: 35px;
  background-image: url('./lib/left-click.png');
  background-size: contain;
  background-repeat: no-repeat;
} */
.btnContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  /* width: 300px; */
}
.btnContainer .main {
  margin-bottom: 20px;
  padding: 15px 20px;

  font-size: 1.4rem;
}
.resetBtn {
  padding: 10px;
  font-size: 0.8rem;
}

footer {
  text-align: center;
  color: white;
  text-shadow: var(--tomato-shadow);
}

/* responsive */
@media (min-width: 320px) {
  .to-do-list-container {
    width: 400px;
  }
}

@media (min-width: 768px) {
  .mainArea {
    flex-direction: row;
  }
  .workTimer, 
  .relaxTimer {
    width: 300px;
  }
  /* .to-do-list-container {
    width: 400px;
  } */
}