:root {
  --deep-purple: #170B3B;
  --light-purple: #9388A2;
  --purple: #341948;
  --dark-green: #253900;
  --yellow: #FCEF91;
  --orange: #FB9E3A;
  --deeporange: #E6521F;
  --tomato: #EA2F14;
}
/* https://colorhunt.co/palette/fcef91fb9e3ae6521fea2f14 */
/* tomato color platte */
body {
  position: relative;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  transition: background-color .3s ease-in-out;
  /* background-color: var(--light-purple); */
}
body.dark {
  background-color: var(--purple);
  color: white;
}
body.light {
  background-color: var(--yellow);
  color: #000;
  /* color: var(--dark-green); */
}
.switchWrapper {
  margin: 10px;
  padding: 0;
  position: absolute;
  top: 0;
  right: 0;

  height: 25px;
  width: 50px;
  border-radius: 30px;
  border: 1px solid gray;
  cursor: pointer;
}
.switchWrapper.dark {
  background-color: var(--yellow);
}
.switchWrapper.light {
  background-color: var(--tomato);
}
.switchWrapper .slider {
  position: absolute;
  top: -4px; left: 0;
  width: 29px;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  border: 2px solid gray;
  background-color: #fff;
  transition: all 0.2s ease-in-out;
}
.nightMode {
  transform: translateX(25px);
}
.dayMode {
  transform: translateX(-25px);
}
.mainArea {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px auto;
  max-width: 70vw;
  height: 80vh;

  /* background-color: blueviolet; */
}
.timerWrapper {
  /* display: flex;
  justify-content: center;
  align-items: center; */
}
.quoteContainer {
  display: flex;
  justify-content: center;
  /* align-items: center; */
  margin: 20px 0;
  /* position: relative; */

  font-size: 20px;
  cursor: pointer;
}
.quote, .author {
  /* max-width: 100%; */
}
.guide {
  display: flex;
  margin: 10px 0;
  justify-content: center;
  /* max-width: 100%; */

  font-size: 25px;
}
.workTimer,
.relaxTimer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
  padding: 20px 10px;

  width: 200px; 
  font-size: 50px;
  border: 2px solid gray;

  transition: all 0.5s ease-in-out;
}
.workTimer {
  background-color: var(--orange);
}
.relaxTimer {
  background-color: green;
}
.workTimer.dark,
.relaxTimer.dark {
  /* border: 2px solid var(--gray); */
  border-radius: 10px;
}
.workTimer.light,
.relaxTimer.light {
  border-radius: 10px;
}
/* @media (min-width: 768px) {
  .workTimer, 
  .relaxTimer {
    max-width: 300px;
    max-height: 150px;
    padding: 80px 0;
  }
  .quoteContainer {
    width: 50%;
  }
} */
.countdown {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
  transition: none;
}
.btnContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  /* width: 300px; */
}
button {
  cursor: pointer;
  font-size: large;
}
.main {
  margin-bottom: 20px;
  max-width: 110px;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
}
.resetBtn {
  max-width: 60px;
  max-height: 30px;
}