:root {
  /* colors */
  --deep-purple: #170B3B;
  --light-purple: #9388A2;
  --purple: #341948;
  --yellow: #FCEF91;
  --orange: #FB9E3A;
  --deeporange: #E6521F;
  --tomato: #EA2F14;
  --tomato: #D2544E;
  --peach: #FFC7A7;
  --pink: #F08787;
  --pink2: #FF6363;
  --nude: #FEE2AD;
  --green: #6BB48C;
  --light-font-break: #EFF5D2;
  --white-greenish: #DBFFCB;

  /* shadows */
  --tomato-shadow: 1px 1px 2px rgba(210, 84, 78, 0.5);
}
/* https://colorhunt.co/palette/fcef91fb9e3ae6521fea2f14 */
/* tomato color platte */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  margin-top: 53px;
  width: 100%;

  /* font-size: 1.1rem; */
  /* color: white; */
  font-family: "Rubik", sans-serif;
  background-color: var(--peach);
}
/* body.dark {
  background-color: var(--purple);
  color: white;
}
body.light {
  color: var(--font);
} */
button {
  display: inline-flex;
  align-items: center; 
  justify-content: center;

  font-size: 1rem;
  font-weight: 800;
  /* font-weight: 700; */
  color: var(--peach);
  border: none;
  border-radius: 10px;
  box-shadow: 1px 1px 1px rgba(210, 84, 78, 0.5);
  background-color: white;
  /* background-color: var(--nude); */
  cursor: pointer;
}
*::before {
  content: '';
  display: inline-block;
  background-size: contain;
  background-repeat: no-repeat;
}
input {
  padding-left: 8px;
  height: 45px;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  text-indent: 2px;
}
span[contenteditable='true'] {
  display: inline-block;
  height: 28px;
  line-height: 28px;
  white-space: nowrap; /* keep on one line */
}

.side-menu {
  position: fixed;
  top: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--nude);
  z-index: 1000;
  opacity: 0;
  transform: translateX(100vw);
  transition: 
    right 0.3s ease-in-out,
    opacity 0.4s ease-in-out;
}
.side-menu-btn {
  position: fixed;
  top: 4px;
  right: 8px;
  width: 45px;
  height: 45px;
  /* transform: translate(-50%, 10px); */
}
.side-menu-btn::before {
  width: 25px;
  height: 25px;
  background-image: url('./lib/menu.png');
}

.active {
  opacity: 1;
  right: 100%;
}

/* .switchWrapper {
  margin: 10px;
  padding: 0;
  position: absolute;
  top: 0;
  right: 0;

  height: 25px;
  width: 50px;
  border-radius: 30px;
  border: 1px solid gray;
  cursor: pointer;
}
.switchWrapper.dark {
  background-color: var(--peach);
}
.switchWrapper.light {
  background-color: var(--tomato);
}
.switchWrapper .slider {
  position: absolute;
  top: -4px; left: 0;
  width: 29px;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  border: 2px solid gray;
  background-color: #fff;
  transition: all 0.2s ease-in-out;
} */
.nightMode {
  transform: translateX(25px);
}
.dayMode {
  transform: translateX(-25px);
}
.mainArea {
  /* display: flex; */
  display: grid;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.timerWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.quoteContainer {
  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 1.3rem;
}
.quote {
  margin: 15px;
  margin-right: 50px;
  font-weight: 550;
  cursor: pointer;
}
.author {
  font-size: 1rem;
  /* max-width: 100%; */
}
@media (max-width: 768px) {
  .quote {
    font-size: 1.1rem;
  }
  .author {
    display: none;
  }
}
.total-productive-time-wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  height: 53px;
  z-index: 1000;

  box-shadow: 1px 1px 1px rgba(210, 84, 78, 0.5);
  background-color: var(--pink);
  font-size: 1.1rem;
}

.total-productive-time-wrapper .logoContainer {
  display: flex;
  align-items: center;
  margin: 5px;
}

.total-productive-time-wrapper .logoContainer img {
  margin: 0 10px;
  width: 43px;
  height: 43px;
}

.total-productive-time-wrapper .logoContainer span {
  font-weight: 600;
  font-size: 1.2rem;
  color: white;
}

.guide {
  display: flex;
  margin-bottom: 20px;
  justify-content: center;
  /* max-width: 100%; */

  font-size: 1.4rem;
}

.timer-toggle-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 10px;
  padding: 0 10px;

  border-radius: 10px;
  color: white;
  background-color: rgba(210, 84, 78, 0.2);
  font-weight: 450;
  text-shadow: var(--tomato-shadow);
}

.timer-toggle-container .timer-toggle-edit {
  margin: 10px 5px;
}

.timer-toggle-container span {
  font-size: 1.2rem;
}

.timer-toggle-container .switch-timer-btn {
  margin: 5px 0;
  margin-left: 15px;
  padding: 10px;
  width: auto;
}

.timer-toggle-container input {
  margin: 0 5px;
  padding: 0;
  height: 30px;
  width: 30px;

  /* text-align: center; */
  color: var(--tomato);
}

.hidden {
  visibility: hidden;
}

.to-do-list-container {
  /* margin: 20px 40px; */
  /* margin-top: 20px; */
  padding: 10px 20px;
  border: 2px dashed var(--tomato);
  border-radius: 10px;
  color: white;
  
  text-shadow: var(--tomato-shadow);
}
.to-do-list-container > label {
  display: block;
  margin: 0 auto;
  text-align: center;
  font-size: 1.3rem;
  font-weight: 750;
}
.to-do-list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.to-do-list li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;

  font-weight: 550;
  font-size: 1.1rem;
}
.to-do-list div {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.to-do-list div img {
  width: 1.8rem;
}
.to-do-list div span {
  margin-left: 8px;
  min-width: 140px;

  user-select: none; /* prevents text selection */
}
.todolist-btncontainer {
  display: flex;
  gap: 5px;
  /* margin-left: 10px; */
}
.todolist-btncontainer button {
  margin-left: 8px;
  width: 45px;
  height: 45px;
}
.todolist-btncontainer .editBtn::before {
  width: 27px;
  height: 27px;
  background-image: url('./lib/pen.png');
}
.todolist-btncontainer .deleteBtn::before {
  width: 27px;
  height: 27px;
  background-image: url('./lib/bin.png');
}
.to-do-enter-field {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 10px;
}
.to-do-enter-field input{
  min-width: 75%;
}
.to-do-enter-field button {
  margin-left: 10px;
  height: 45px;
  width: 25%;
}

.workTimer,
.relaxTimer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
  padding: 30px;

  /* width: 200px;  */
  font-size: 4.5rem;
  border-radius: 10px;
  box-shadow: 1px 1px 2px rgba(210, 84, 78, 0.3);

  transition: all 0.5s ease-in-out;
}
.workTimer {
  background-color: var(--pink);
  color: white;
}
.relaxTimer {
  background-color: var(--green);
  color: white;
}
/* .workTimer.dark,
.relaxTimer.dark {
}
.workTimer.light,
.relaxTimer.light {
} */

.countdown {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-bottom: 50px;
  transition: none;
}
/* .countdown::before {
  content: '';
  position: absolute;
  top: 150%;
  left: 100%;
  width: 35px;
  height: 35px;
  background-image: url('./lib/left-click.png');
  background-size: contain;
  background-repeat: no-repeat;
} */
.btnContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  /* width: 300px; */
}
.btnContainer .main {
  margin-bottom: 20px;
  padding: 15px 20px;

  font-size: 1.4rem;
}
.resetBtn {
  padding: 10px;
  font-size: 0.8rem;
}