:root {
  --deep-purple: #170B3B;
  --light-purple: #9388A2;
  --purple: #341948;
  --yellow: #FCEF91;
  --orange: #FB9E3A;
  --deeporange: #E6521F;
  --tomato: #EA2F14;
  --peach: #FFC7A7;
  --pink: #F08787;
  --pink2: #FF6363;
  --nude: #FEE2AD;
  --green: #8FA31E;
  --light-font-break: #EFF5D2;
  --light-font-work: #DBFFCB;
  --font: #333;
}
/* https://colorhunt.co/palette/fcef91fb9e3ae6521fea2f14 */
/* tomato color platte */
body {
  position: relative;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  /* margin-top: 60px; */

  font-family:'Open Sans', Arial, sans-serif;
  /* font-family:'Franklin Gothic', 'Arial Narrow', Arial, sans-serif; */
  /* font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; */
  transition: background-color .3s ease-in-out;
  /* background-color: var(--light-purple); */
}
body.dark {
  background-color: var(--purple);
  color: white;
}
body.light {
  background-color: var(--peach);
  color: var(--font);
  /* color: var(--dark-green); */
}
button {
  border: none;
  border-radius: 5px;
  box-shadow: 1px 1px rgba(0,0,0,0.6);
  background-color: var(--nude);
  cursor: pointer;
}
input {
  height: 30px;
  border: none;
  border-radius: 5px;
  font-size: 0.9rem;
  text-indent: 2px;
}

.side-menu {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: var(--green);
  z-index: 1;
  transform: translateX(100vw);
  transition: 0.5s ease-in-out;
}

.left-slide {
  transform: translateX(0vw);
}

.switchWrapper {
  margin: 10px;
  padding: 0;
  position: absolute;
  top: 0;
  right: 0;

  height: 25px;
  width: 50px;
  border-radius: 30px;
  border: 1px solid gray;
  cursor: pointer;
}
.switchWrapper.dark {
  background-color: var(--peach);
}
.switchWrapper.light {
  background-color: var(--tomato);
}
.switchWrapper .slider {
  position: absolute;
  top: -4px; left: 0;
  width: 29px;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  border: 2px solid gray;
  background-color: #fff;
  transition: all 0.2s ease-in-out;
}
.nightMode {
  transform: translateX(25px);
}
.dayMode {
  transform: translateX(-25px);
}
.mainArea {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  max-width: 70vw;
  height: 80vh;
}
/* .timerWrapper {
  margin: 0 50px;
} */

.quoteContainer {
  display: flex;
  justify-content: center;
  /* align-items: center; */
  margin: 20px 0;
  /* position: relative; */

  font-size: 20px;
  cursor: pointer;
}
.quote, .author {
  /* max-width: 100%; */
}
.total-productive-time-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  width: 100vw;
  height: 5vh;
  background-color: var(--pink);
}
.total-productive-time-wrapper button {
  margin-left: 10px;
  height: 70%;
}

.guide {
  display: flex;
  margin: 50px 0;
  justify-content: center;
  /* max-width: 100%; */

  font-size: 25px;
}

.timer-toggle-container {
  display: flex;
  justify-content: center;
}

.hidden {
  visibility: hidden;
}

.to-do-list-container {
  margin: 20px 0;
  padding: 20px;
  border: 2px dashed gray;
  border-radius: 10px;
}
.to-do-list-container > label {
  display: block;
  margin: 0 auto;
  text-align: center;
  font-size: 1.2rem;
  font-weight: 700;
}
.to-do-list {
  padding: 0;
  list-style: none;
}
.to-do-list li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}
.to-do-list div {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.to-do-list div img {
  width: 1.8rem;
}
.to-do-list div span {
  user-select: none; /* prevents text selection */
  margin-left: 8px;
}
.todolist-btncontainer {
  display: flex;
  gap: 5px;
  margin-left: 30px;
}
.todolist-btncontainer button {
  height: 30px;
}
.to-do-enter-field {
  display: flex;
  justify-content: center;
}
.to-do-enter-field button {
  margin-left: 10px;
  height: 30px;
}

.workTimer,
.relaxTimer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
  padding: 20px 10px;

  width: 200px; 
  font-size: 50px;
  border-radius: 10px;
  box-shadow: 1px 2px rgba(0,0,0,0.5);

  transition: all 0.5s ease-in-out;
}
.workTimer {
  background-color: var(--pink);
  color: var(--light-font-work);
}
.relaxTimer {
  background-color: var(--green);
  color: var(--light-font-break);
}
/* .workTimer.dark,
.relaxTimer.dark {
}
.workTimer.light,
.relaxTimer.light {
} */

.countdown {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-bottom: 50px;
  transition: none;
}
/* .countdown::before {
  content: '';
  position: absolute;
  top: 150%;
  left: 100%;
  width: 35px;
  height: 35px;
  background-image: url('./lib/left-click.png');
  background-size: contain;
  background-repeat: no-repeat;
} */
.btnContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  /* width: 300px; */
}
.btnContainer .main {
  margin-bottom: 20px;
  width: 110px;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  font-size: 1.4rem;
}
.resetBtn {
  height: 30px;
  font-size: 0.8rem;
  border-radius: 5px;
}